body {
  background-color: #1d2d3c;
}

.card {
  background-color: #112030;
  color: white;
  padding: 30px;
  text-align: center;
}

.card-img img {
  width: 300px;
}

.card .year,
.card .title {
  font-size: 1.3rem;
  margin-top: 15px;
}

.card .author {
  font-size: 1rem;
  margin-top: 15px;
}

header {
  background-color: #06131f;
}

.logo-small {
  padding: 15px 0;
  width: 35px;
}
